compiler/bin/ filter=lfs diff=lfs merge=lfs -text
compiler/bin/llvm-link filter=lfs diff=lfs merge=lfs -text
compiler/bin/clang-12 filter=lfs diff=lfs merge=lfs -text
compiler/bin/llvm-as filter=lfs diff=lfs merge=lfs -text
compiler/bin/* filter=lfs diff=lfs merge=lfs -text
compiler/bin/** filter=lfs diff=lfs merge=lfs -text
compiler/bin/opt filter=lfs diff=lfs merge=lfs -text
